.slider2-readmore a{
	border:2px solid #fff!important;
	color:#fff!important;
	font-size:14px;
	font-weight:700;
	padding:10px 20px;
	text-transform:uppercase;
	text-decoration:none;
}
.slider2-shop a{
	border:2px solid #fff!important;
	color:#fff!important;
	font-size:14px;
	font-weight:700;
	padding:10px 20px;
	text-transform:uppercase;
	text-decoration:none;
}